{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block body%}

    <div class="two-players">
        <img class="background_chart fourbg" src="{% static 'test/fourplayers.png' %}" alt="">
        <img class = "spinnerimg spinnerfour" id="spinner" src="{% static 'images/heinekenspinner.png' %}" width="200" height="auto" onclick="spin()"/>
        
    </div>


    <script>
        var spins = 0;
        var people = ["Sarah", "George","jake","lake"];
        function spin () {
        spins++;
        var winner = Math.floor(Math.random() * people.length);
        var rotation = (spins * 720) + (winner * (340 / people.length));
        $('#spinner').css('transform', 'rotate('+rotation+'deg)');
        setTimeout(function () {
            $('output').html(people[winner]);
        }, 3000);
        }
    </script>

{% endblock %}
